<!DOCTYPE html>
<html>
<head>
    @using (Html.SwitchLocSource("~/Views/Shared/_Layout.cshtml"))
    {
        <title>@(ViewBag.PageTitle ?? Html.Loc("PageTitle"))</title>
    }
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/content/css")
</head>
<body>
    @Html.Partial("GlobalHeader")
    
    @Html.Partial("Header")

    <div class="container">
        @Html.Partial("ContentHeader")
        @RenderBody()
        @Html.Partial("ContentFooter")
    </div>

    @Html.Partial("Footer")

    @Html.Partial("GlobalFooter")

    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>
