@model ePunkt.Portal.Models.ThirdPartyProfile.IndexViewModel

<div class="applicantThirdPartyPage">
    <h1>@Html.Loc("Title")</h1>
    <p>@Html.Loc("Description1")</p>

    <div class="row">
        <div class="col-sm-4">
            <img src="~/Content/Xing.png" alt="@Html.Loc("Alt_Xing")" class="@(Model.IsXingLinked ? null : "grayed")" />
        </div>
        <div class="col-sm-4">
            @if (Model.IsXingLinked)
            {
                <a href="@Model.XingUrl" class="btn btn-default">@Html.Loc("Go_to_Xing")</a>
            }
        </div>
        <div class="col-sm-4">
            @if (Model.IsXingLinked)
            {
                <text>
                @Html.ActionLink(Html.Loc("Unlink_Xing").ToString(), "UnlinkXing", null, new { @class = "btn btn-danger" })
                </text>
            }
            else
            {
                <text>
                @Html.ActionLink(Html.Loc("Link_Xing").ToString(), "Xing", null, new { @class = "btn btn-primary" })
                </text>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <img src="~/Content/LinkedIn.png" alt="@Html.Loc("Alt_LinkedIn")" class="@(Model.IsLinkedInLinked ? null : "grayed")" />
        </div>
        <div class="col-sm-4">
            @if (Model.IsLinkedInLinked)
            {
                <a href="@Model.LinkedInUrl" class="btn btn-default">@Html.Loc("Go_to_LinkedIn")</a>
            }
        </div>
        <div class="col-sm-4">
            @if (Model.IsLinkedInLinked)
            {
                <text>
                @Html.ActionLink(Html.Loc("Unlink_LinkedIn").ToString(), "UnlinkLinkedIn", null, new { @class = "btn btn-danger" })
                </text>
            }
            else
            {
                <text>
                @Html.ActionLink(Html.Loc("Link_LinkedIn").ToString(), "LinkedIn", null, new { @class = "btn btn-primary" })
                </text>
            }
        </div>
    </div>

    <p>@Html.Loc("Description2")</p>
</div>
