@model ePunkt.Portal.Models.ApplicantActivities.EditViewModel
<div class="applicantActivitiesEditPage">

    <h1>@Html.Loc("Title")</h1>
    <p>@Html.Loc("Description1")</p>

    @Html.TranslatedValidationSummary().MakeAlertDanger()

    <form method="Post" role="form">
        @Html.AntiForgeryToken()

        @Html.HiddenFor(x => x.Id)

        <div class="form-group">
            @Html.LabelFor(m => m.Name, Html.Loc("Name").ToString(), new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Name, new { required = "required", @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.StartYear, Html.Loc("Start").ToString(), new { @class = "control-label" })
            @Html.DropDownListFor(m => m.StartDay, Model.AvailableDays, new { @class = "form-control" })
            @Html.DropDownListFor(m => m.StartMonth, Model.AvailableMonths, new { @class = "form-control" })
            @Html.DropDownListFor(m => m.StartYear, Model.AvailableYears, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.EndYear, Html.Loc("End").ToString(), new { @class = "control-label" })
            @Html.DropDownListFor(m => m.EndDay, Model.AvailableDays, new { @class = "form-control" })
            @Html.DropDownListFor(m => m.EndMonth, Model.AvailableMonths, new { @class = "form-control" })
            @Html.DropDownListFor(m => m.EndYear, Model.AvailableYears, new { @class = "form-control" })
        </div>

        <p>
            <button type="submit" class="btn btn-primary">@Html.Loc("Save")</button>
        </p>
    </form>


    @Html.ActionLink(Html.Loc("Back").ToString(), "Index", null, new { @class = "btn btn-default" })

    <p>@Html.Loc("Description2")</p>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
