@using System.Globalization
@model ePunkt.Portal.Models.ApplicantActivities.IndexViewModel

<div class="applicantActivitiesPage">
    @Html.TranslatedValidationSummary().MakeAlertDanger()

    <h1>@Html.Loc("Title")</h1>
    <p>@Html.Loc("Description1")</p>

    <p>
        <a href="@Url.Action("Create")" class="btn btn-primary">@Html.Loc("Add")</a>
    </p>

    @if (Model.Activities.Any())
    {
        <text>
        @foreach (var activity in Model.Activities)
        {
            <text>
            <div class="row">
                    <div class="col-sm-6">@activity.Name</div>
  
                <div class="col-sm-1">
                    @using (Html.BeginForm("Delete", "ApplicantActivities"))
                    {
                        <text>
                        @Html.AntiForgeryToken()
                        @Html.Hidden("id", activity.Id.ToString(CultureInfo.InvariantCulture))
                        <button type="submit" class="btn btn-danger btn-xs">@Html.Loc("Delete")</button>
                        </text>
                    }
            </div>

                    <div class="col-sm-1">
                        <a href="@Url.Action("Edit", new { activity.Id })" class="btn btn-default btn-xs">@Html.Loc("Edit")</a>
                    </div>
                </div>
            </text>
        }
        </text>
    }
    else
    {
        <p>@Html.Loc("No_Activities")</p>
    }

    <p>@Html.Loc("Description2")</p>
</div>


