@model ePunkt.Portal.Models.ApplicantJobProfiles.IndexViewModel

<div class="applicantJobProfilesPage">
    @Html.TranslatedValidationSummary().MakeAlertDanger()

    <h1>@Html.Loc("Title")</h1>
    <p>@Html.Loc("Description1")</p>


    @if (Model.JobProfiles.Any())
    {
        <text>
        @foreach (var jobProfile in Model.JobProfiles)
        {
<div class="row">
                <div class="col-sm-11">@jobProfile</div>
                <div class="col-sm-1">
                            @using (Html.BeginForm("Delete", "ApplicantJobProfiles"))
                            {
                                <text>
                                @Html.AntiForgeryToken()
                                @Html.Hidden("name", jobProfile)
                                <button type="submit" class="btn btn-danger btn-xs">@Html.Loc("Delete")</button>
                                </text>
                            }
        </div>
            </div>
        }
        </text>
    }
    else
    {
        <p>@Html.Loc("No_JobProfiles")</p>
    }

    <p>@Html.Loc("Description2")</p>

    <h2>@Html.Loc("Add_Title")</h2>

    <p>
        @Html.Loc("Description3")
    </p>

    <form method="POST" role="form">
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.DropDownListFor(x => x.SelectedJobProfile, Model.AvailableJobProfiles, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">@Html.Loc("Add")</button>
        </div>
    </form>

    <p>@Html.Loc("Description4")</p>
</div>

