@model ePunkt.Portal.Models.Application.IndexViewModel

<div class="applicationPage">
    @Html.TranslatedValidationSummary().MakeAlertDanger()

    <h1>@Html.Loc("Title")</h1>
    <p>@Html.Loc("Description1")</p>

    <form method="post" role="form">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <button type="submit" class="btn btn-primary">@Html.Loc("Save")</button>
        </div>
    </form>

    <p>@Html.Loc("Description2")</p>
</div>
