@model ePunkt.Portal.Models.Applicant.IndexViewModel

<div class="applicantPage">
    <h1>@Html.Loc("Title")</h1>
    <p>@Html.Loc("Description1")</p>

    <div class="applicantCompleteness">
        <div class="row @(Model.Completeness.PersonalInformation >= 100 ? "text-warning" : "text-success")">
            <div class="col-sm-6">
                @Html.ActionLink(Html.Loc("PersonalInformation").ToString(), "Index", "ApplicantPersonalInformation", null, new { @class = "btn btn-sm " + (Model.Completeness.PersonalInformation >= 100 ? "btn-default" : "btn-warning") })
            </div>
            <div class="col-sm-6">
                @Html.Loc("Placeholder_Percent_Complete", Model.Completeness.PersonalInformation)
            </div>
        </div>

        <div class="row @(Model.Completeness.Files >= 100 ? "text-warning" : "text-success")">
            <div class="col-sm-6">
                @Html.ActionLink(Html.Loc("Files").ToString(), "Index", "ApplicantFiles", null, new { @class = "btn btn-sm " + (Model.Completeness.Files >= 100 ? "btn-default" : "btn-warning") })
            </div>
            <div class="col-sm-6">
                @Html.Loc("Placeholder_Percent_Complete", Model.Completeness.Files)
            </div>
        </div>

        <div class="row @(Model.Completeness.JobProfiles >= 100 ? "text-warning" : "text-success")">
            <div class="col-sm-6">
                @Html.ActionLink(Html.Loc("JobProfiles").ToString(), "Index", "ApplicantJobProfiles", null, new { @class = "btn btn-sm " + (Model.Completeness.JobProfiles >= 100 ? "btn-default" : "btn-warning") })
            </div>
            <div class="col-sm-6">
                @Html.Loc("Placeholder_Percent_Complete", Model.Completeness.JobProfiles)
            </div>
        </div>

        <div class="row @(Model.Completeness.Activities >= 100 ? "text-warning" : "text-success")">
            <div class="col-sm-6">
                @Html.ActionLink(Html.Loc("Activities").ToString(), "Index", "ApplicantActivities", null, new { @class = "btn btn-sm " + (Model.Completeness.Activities >= 100 ? "btn-default" : "btn-warning") })
            </div>
            <div class="col-sm-6">
                @Html.Loc("Placeholder_Percent_Complete", Model.Completeness.Activities)
            </div>
        </div>
    </div>

    <p>@Html.Loc("Description2")</p>

    <form method="POST" action="@Url.Action("Index")" role="form">
        @Html.AntiForgeryToken()

        <div class="checkbox">
            <label>
                @Html.CheckBox("active", Model.ApplicantResponse.IsActive)
                @Html.Loc("Active_Label")
            </label>
            <span class="help-block">@Html.Loc("Active_Description", new { @class = "control-label" })</span>
        </div>

        <div class="checkbox">
            <label>
                @Html.CheckBox("matchingJobs", Model.ApplicantResponse.EnableMatchingJobsAutoMail)
                @Html.Loc("MatchingJobs_Label")
            </label>
            <span class="help-block">@Html.Loc("MatchingJobs_Description")</span>
        </div>

        <div class="checkbox">
            <label>
                @Html.CheckBox("newsletter", Model.ApplicantResponse.EnableNewsletter)
                @Html.Loc("Newsletter_Label")
            </label>
            <span class="help-block">@Html.Loc("Newsletter_Description")</span>
        </div>

        <button type="submit" class="btn btn-primary">@Html.Loc("Save")</button>
    </form>

    <p>@Html.Loc("Description3")</p>
</div>
