@model ePunkt.Portal.Models.Shared.PersonalInformationViewModel

<div class="applicantPersonalInformationPage">
    @Html.TranslatedValidationSummary("~/Views/Shared/PersonalInformation.cshtml")

    <h1>@Html.Loc("Title")</h1>
    <p>@Html.Loc("Description1")</p>

    <form method="post" role="form">
        @Html.AntiForgeryToken()

        @Html.Partial("PersonalInformation")

        <div class="form-group">
            <button type="submit" class="btn btn-primary">@Html.Loc("Save")</button>
        </div>
    </form>

    <p>@Html.Loc("Description2")</p>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
