@model ePunkt.Portal.Models.Jobs.IndexViewModel

<h1>@Html.Loc("Title")</h1>

<p>@Html.Loc("Introduction", Model.TotalJobsCount.ToString("N0"))</p>

@if (Model.DisplayRegionFilter && !Model.MoveFilterToBottom)
{
    <text>
    @Html.Partial("JobsFilter")
    </text>
}
@Html.Partial("JobsList")
@if (Model.DisplayRegionFilter && Model.MoveFilterToBottom)
{
    <text>
    @Html.Partial("JobsFilter")
    </text>
}
