@model ePunkt.Portal.Models.Jobs.IndexViewModel

<div class="jobsPage">

    <h1>@Html.Loc("Title")</h1>

    <p>@Html.Loc("Description1", Model.TotalJobsCount.ToString("N0"))</p>

    @if (Model.DisplayRegionFilter && !Model.MoveFilterToBottom)
    {
        <text>
        @Html.Partial("JobsFilter")
        </text>
    }

    <p>@Html.Loc("Description2", Model.TotalJobsCount.ToString("N0"))</p>

    @Html.Partial("JobsList")

    <p>@Html.Loc("Description3", Model.TotalJobsCount.ToString("N0"))</p>

    @if (Model.DisplayRegionFilter && Model.MoveFilterToBottom)
    {
        <text>
        @Html.Partial("JobsFilter")
        </text>
    }

    <p>@Html.Loc("Description4", Model.TotalJobsCount.ToString("N0"))</p>

</div>
@section scripts
{
    @Html.Partial("JobsFilterScripts")
}
