@using ePunkt.Api.Responses
@using ePunkt.Utilities
@model ePunkt.Portal.Models.Jobs.IndexViewModel

@helper RenderRegionRecursive(IEnumerable<RegionResponse> regions)
{
    foreach (var region in regions)
    {
    <div>
        <input type="checkbox" name="@region.Name" id="@region.Name" value="true" checked="@(Model.FilteredRegions.Contains(region.Name) ? "checked" : null)" /><label for="@region.Name">@region.Name</label>
        <div style="margin-left: 10px;">
            @RenderRegionRecursive(region.Regions)
        </div>
    </div>
    }
}

@using (Html.SwitchLocSource("~/Views/Jobs/JobsFilter.cshtml"))
{
    <text>

    @{
    var regionsText = Model.FilteredRegions.Aggregate("", (seed, current) => seed + ", " + current).Trim(',', ' ');
    if (regionsText.IsNoE())
    {
        regionsText = Html.Loc("All_Regions").ToString();
    }

    var jobProfilesText = Model.FilteredJobProfiles.Aggregate("", (seed, current) => seed + ", " + current).Trim(',', ' ');
    if (jobProfilesText.IsNoE())
    {
        jobProfilesText = Html.Loc("All_JobProfiles").ToString();
    }
    }

    <form method="POST" role="form" class="jobsFilter">
        @if (Model.DisplayRegionFilter)
        {
            <div class="form-group">
                <label for="regionsText" class="control-label col-xs-2">@Html.Loc("Regions")</label>
                <div class="col-xs-8">
                    <input type="text" disabled="disabled" id="regionsText" name="regionsText" value="@regionsText" class="form-control" />
                </div>
                <a id="regionsButton" data-toggle="modal" href="#regionsModal" class="btn btn-default col-xs-2">@Html.Loc("Edit")</a>
            </div>
        }

        @if (Model.DisplayJobProfileFilter)
        {
            <div class="form-group">
                <label for="jobProfilesText" class="control-label col-xs-2">@Html.Loc("JobProfiles")</label>
                <div class="col-xs-8">
                    <input type="text" disabled="disabled" id="jobProfilesText" name="jobProfilesText" value="@jobProfilesText" class="form-control" />
                </div>
                <a id="jobProfilesButton" data-toggle="modal" href="#jobProfilesModal" class="btn btn-default col-xs-2">@Html.Loc("Edit")</a>
            </div>
        }

        <div class="form-group">
            <label for="filter" class="control-label col-xs-2">@Html.Loc("SearchPhrase")</label>
            <div class="col-xs-8">
                <input type="text" id="filter" name="filter" value="@Model.FilteredText" placeholder="@Html.Loc("Filter_Hint")" class="form-control" />
            </div>
            <button type="submit" id="submitFilter" class="btn btn-primary col-xs-2">@Html.Loc("Search")</button>
        </div>

        <div id="regionsModal" role="dialog" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">@Html.Loc("Regions_DialogTitle")</h4>
                    </div>
                    <div class="modal-body">
                        <p>@Html.Loc("Regions_DialogText")</p>
                        <div>
                            @RenderRegionRecursive(Model.AvailableRegions)
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="removeRegions" class="btn btn-warning">@Html.Loc("Remove_Filter")</button>
                        <button type="button" id="submitRegions" class="btn btn-primary">@Html.Loc("Search")</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="jobProfilesModal" role="dialog" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">@Html.Loc("JobProfiles_DialogTitle")</h4>
                    </div>
                    <div class="modal-body">
                        <p>@Html.Loc("JobProfiles_DialogText")</p>
                        <div>
                            @foreach (var jobProfile in Model.AvailableJobProfiles)
                            {
                                <div>
                                    <input type="checkbox" name="@jobProfile" id="@jobProfile" value="true" checked="@(Model.FilteredJobProfiles.Contains(jobProfile) ? "checked" : null)" /><label for="@jobProfile">@jobProfile</label>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="removeJobProfiles" class="btn btn-warning">@Html.Loc("Remove_Filter")</button>
                        <button type="button" id="submitJobProfiles" class="btn btn-primary">@Html.Loc("Search")</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </text>
}