@using ePunkt.Api.Responses
@model ePunkt.Portal.Models.ApplicantFiles.IndexViewModel

@{
    var availableTypes = Model.AvailableDocumentTypes.ToList();
    availableTypes.Insert(0, new SelectListItem
    {
        Text = Html.Loc("Photo").ToString(),
        Value = "Photo"
    });
    availableTypes.Insert(0, new SelectListItem
        {
            Text = Html.Loc("Cv").ToString(),
            Value = "CV"
        });

    var documents = Model.Documents.ToList();
    if (Model.HasPhoto)
    {
        documents.Insert(0, new ApplicantDocumentResponse
        {
            Id = -2,
            Name = Html.Loc("Photo").ToString()
        });
    }
    if (Model.HasCv)
    {
        documents.Insert(0, new ApplicantDocumentResponse
        {
            Id = -1,
            Name = Html.Loc("Cv").ToString()
        });
    }
}

@Html.TranslatedValidationSummary()

<h1>@Html.Loc("Title")</h1>
<p>@Html.Loc("Description")</p>


<fieldset id="applicantFiles">
    <legend></legend>

    @foreach (var file in documents)
    {       
        <div class="editor-row">
            @using (Html.BeginForm("Download", "ApplicantFiles"))
            {
                <text>
                @Html.AntiForgeryToken()
                @Html.Hidden("id", file.Id)
                <input type="submit" value="@Html.Loc("Download")" class="in-row" />
                </text>
            }

            @using (Html.BeginForm("Delete", "ApplicantFiles"))
            {
                <text>
                @Html.AntiForgeryToken()
                @Html.Hidden("id", file.Id)
                <input type="submit" value="@Html.Loc("Delete")" class="in-row" />
                </text>
            }
            @if (file.Id < 0)
            {
                <text>
                @file.Name
                </text>
            }
            else
            {
                <text>
                @file.Name <span>(@file.Type)</span>
                </text>
            }
        </div>
    }
</fieldset>




<fieldset>
    <legend>@Html.Loc("Upload_Title")</legend>

    <p>
        @Html.Loc("Upload_Description")
    </p>

    @using (Html.BeginForm("Index", "ApplicantFiles", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <text>
        @Html.AntiForgeryToken()
        <div class="editor-row">
            <input type="submit" value="@Html.Loc("Upload")" class="in-row" />
            <label for="upload">@Html.Loc("Choose_File")</label>
            <input type="file" name="upload" id="upload" />
            @Html.DropDownList("type", availableTypes, new { @class = "smaller" })
        </div>
        </text>
    }

</fieldset>

