@using ePunkt.Api.Responses
@model ePunkt.Portal.Models.ApplicantFiles.IndexViewModel
<div class="applicantFilesPage">
    @{
        var availableTypes = Model.AvailableDocumentTypes.ToList();
        var documents = Model.Documents.ToList();

        availableTypes.Insert(0, new SelectListItem
        {
            Text = Html.Loc("Photo").ToString(),
            Value = "Photo"
        });
        availableTypes.Insert(0, new SelectListItem
            {
                Text = Html.Loc("Cv").ToString(),
                Value = "CV"
            });

        if (Model.HasPhoto)
        {
            documents.Insert(0, new ApplicantDocumentResponse
            {
                Id = -2,
                Name = Html.Loc("Photo").ToString()
            });
        }
        if (Model.HasCv)
        {
            documents.Insert(0, new ApplicantDocumentResponse
            {
                Id = -1,
                Name = Html.Loc("Cv").ToString()
            });
        }
    }

    @Html.TranslatedValidationSummary().MakeAlertDanger()

    <h1>@Html.Loc("Title")</h1>
    <p>@Html.Loc("Description1")</p>

    <div id="applicantFiles">
        @foreach (var file in documents)
        {       
            <div class="row">
                <div class="col-sm-10">
                    @if (file.Id < 0)
                    {
                        <text>
                        @file.Name
                        </text>
                    }
                    else
                    {
                        <text>
                        @file.Name <span>(@file.Type)</span>
                        </text>
                    }
                </div>

                <div class="col-sm-1">
                    @using (Html.BeginForm("Download", "ApplicantFiles"))
                    {
                        <text>
                        @Html.AntiForgeryToken()
                        @Html.Hidden("id", file.Id)
                        <button type="submit" class="btn btn-default btn-xs">@Html.Loc("Download")</button>
                        </text>
                    }
                </div>

                <div class="col-sm-1">
                    @using (Html.BeginForm("Delete", "ApplicantFiles"))
                    {
                        <text>
                        @Html.AntiForgeryToken()
                        @Html.Hidden("id", file.Id)
                        <button type="submit" class="btn btn-danger btn-xs">@Html.Loc("Delete")</button>
                        </text>
                    }
                </div>
            </div>
        }
    </div>
    <p>@Html.Loc("Description2")</p>


    <h2>@Html.Loc("Upload_Title")</h2>
    <p>@Html.Loc("Description3")</p>

    <form role="form" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label for="upload" class="control-label">@Html.Loc("Choose_File")</label>
            <input type="file" name="upload" id="upload" class="form-control" />
            @Html.DropDownList("type", availableTypes, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">@Html.Loc("Upload")</button>
        </div>
    </form>

    <p>@Html.Loc("Description4")</p>
</div>

