@model ePunkt.Portal.Models.ApplicantFiles.IndexViewModel

@helper GetTranslatedType(string type)
{ 
    @(Model.AvailableDocumentTypes.Any(x => x.Value.Is(type)) ? Model.AvailableDocumentTypes.First(x => x.Value.Is(type)).Text : type)
}

@{
    var availableTypes = Model.AvailableDocumentTypes.ToList();
    availableTypes.Insert(0, new SelectListItem
        {
            Text = Html.Loc("Cv").ToString(),
            Value = "CV"
        });
    availableTypes.Insert(1, new SelectListItem
    {
        Text = Html.Loc("Photo").ToString(),
        Value = "Photo"
    });
}

@Html.TranslatedValidationSummary()

<h1>@Html.Loc("Title")</h1>
<p>@Html.Loc("Description")</p>


<fieldset id="applicantFiles">
    <legend></legend>

    @foreach (var f in Model.ApplicantResponse.Documents)
    {       
        <div class="editor-row">
            @using (Html.BeginForm("Download", "ApplicantFiles"))
            {
                <text>
                @Html.AntiForgeryToken()
                @Html.Hidden("name", f.Name)@Html.Hidden("type", f.Type)
                <input type="submit" value="@Html.Loc("Download")" class="in-row" />
                </text>
            }

            @using (Html.BeginForm("Delete", "ApplicantFiles"))
            {
                <text>
                @Html.AntiForgeryToken()
                @Html.Hidden("name", f.Name)@Html.Hidden("type", f.Type)
                <input type="submit" value="@Html.Loc("Delete")" class="in-row" />
                </text>
            }
            @if (f.Type.Is("CV") || f.Type.Is("Photo"))
            {
                <text>
                @Html.Loc(f.Name)
                </text>
            }
            else
            {
                <text>
                @f.Name<span>@GetTranslatedType(f.Type)</span>
                </text>
            }
        </div>
    }
</fieldset>




<fieldset>
    <legend>@Html.Loc("Upload_Title")</legend>

    <p>
        @Html.Loc("Upload_Description")
    </p>

    @using (Html.BeginForm("Index", "ApplicantFiles", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <text>
        @Html.AntiForgeryToken()
        <div class="editor-row">
            <input type="submit" value="@Html.Loc("Upload")" class="in-row" />
            <label for="upload">@Html.Loc("Choose_File")</label>
            <input type="file" name="upload" id="upload" />
            @Html.DropDownList("type", availableTypes, new { @class = "smaller" })
        </div>
        </text>
    }

</fieldset>

