@model ePunkt.Portal.Models.Applications.IndexViewModel

<h1>@Html.Loc("Title")</h1>
<p>@Html.Loc("Description")</p>

@foreach (var application in Model.Applications)
{
    <div>
        @if (application.JobIsPublished)
        {
            <b>@Html.ActionLink(application.Job, "Job", "Jobs", new { id = application.JobId }, null)</b>
        }
        else
        {
            <b>@application.Job</b>
        } (@application.Status)
    </div>
}

@if (!Model.Applications.Any())
{
    <p>@Html.Loc("No_Applications_Visible")</p>
}
