@model ePunkt.Portal.Models.Applications.IndexViewModel

<div class="applicantApplicationsPage">

    <h1>@Html.Loc("Title")</h1>
    <p>@Html.Loc("Description1")</p>

    @foreach (var application in Model.Applications)
    {
        <div class="row">
            <div class="col-sm-12">
                @if (application.JobIsPublished)
                {
                    <b>@Html.ActionLink(application.Job, "Job", "Jobs", new { id = application.JobId }, null)</b>
                }
                else
                {
                    <b>@application.Job</b>
                } (@application.Status)
            </div>
        </div>
    }

    @if (!Model.Applications.Any())
    {
        <p>@Html.Loc("No_Applications_Visible")</p>
    }

    <p>@Html.Loc("Description2")</p>

</div>
