@model ePunkt.Portal.Models.Account.IndexViewModel

@Html.TranslatedValidationSummary()

<div id="loginWithThirdPartyAccount">
    <h1>@Html.Loc("ThirdPartyAccount_Title")</h1>
    <ul>
        <li><a href="@Url.Action("Xing", "ThirdPartyProfile", new { job = Model.JobId })">
            <img src="~/Content/Xing.png" alt="@Html.Loc("Alt_Xing")" title="@Html.Loc("Alt_Xing")" id="xing"/></a></li>
        <li><a href="@Url.Action("LinkedIn", "ThirdPartyProfile", new { job = Model.JobId })">
            <img src="~/Content/LinkedIn.png" alt="@Html.Loc("Alt_LinkedIn")" title="@Html.Loc("Alt_LinkedIn")" id="linkedIn"/></a></li>
    </ul>
    <p>
        @Html.Loc("ThirdPartyAccount_Text")
    </p>
</div>

<div id="loginWithCredentials">
    <h1>@Html.Loc("Credentials_Title")</h1>

    @using (Html.BeginForm(new { job = Model.JobId }))
    {
        @Html.AntiForgeryToken()

        <fieldset>
            <legend></legend>
            <div class="editor-row">
                @Html.LabelFor(x => x.Username, @Html.Loc("Email_Label").ToString())
                @Html.TextBoxFor(x => x.Username, new { required = "required", type = "email", placeholder = Html.Loc("Email_Placeholder").ToString() })
            </div>
            <div class="editor-row">
                @Html.LabelFor(x => x.Password, @Html.Loc("Password_Label").ToString())
                @Html.PasswordFor(x => x.Password, new { required = "required" })
            </div>
        </fieldset>
        <p>
            <input type="submit" value="@Html.Loc("LoginButton_Label")" />
        </p>
    }
    <p>@Html.Loc("Credentials_Text")</p>
    <p>@Html.ActionLink(Html.Loc("CreateProfile_Link").ToString(), "Register", "Account", new { job = Model.JobId }, null)</p>
    <p>@Html.ActionLink(Html.Loc("ForgotPassword_Link").ToString(), "RequestPasswordStep1", "Account", new { job = Model.JobId }, null)</p>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}


