@model ePunkt.Portal.Models.Account.IndexViewModel
<div class="loginPage">

    @Html.TranslatedValidationSummary().MakeAlertDanger()

    <div class="row">
        <div class="col-sm-6">
            <h1>@Html.Loc("ThirdPartyAccount_Title")</h1>
            <p>
                @Html.Loc("ThirdPartyAccount_Description1")
            </p>
            <div class="row">
                <div class="col-xs-6">
                    <div class="xingButton">
                        <a href="@Url.Action("Xing", "ThirdPartyProfile", new { job = Model.JobId })" class="btn btn-default">
                            <img src="~/Content/Xing.png" alt="@Html.Loc("Alt_Xing")" title="@Html.Loc("Alt_Xing")" id="xing"/></a>
                    </div>

                </div>
                <div class="col-xs-6">
                    <div class="linkedinButton">
                        <a href="@Url.Action("LinkedIn", "ThirdPartyProfile", new { job = Model.JobId })" class="btn btn-default">
                            <img src="~/Content/LinkedIn.png" alt="@Html.Loc("Alt_LinkedIn")" title="@Html.Loc("Alt_LinkedIn")" id="linkedIn"/></a>
                    </div>
                </div>
            </div>
            <p>
                @Html.Loc("ThirdPartyAccount_Description2")
            </p>
        </div>
        <div class="col-sm-6">
            <h1>@Html.Loc("Credentials_Title")</h1>

            <p>@Html.Loc("Credentials_Description1")</p>

            <form method="POST" action="@Url.Action("Login", new { job = Model.JobId })" role="form">
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.LabelFor(x => x.Username, @Html.Loc("Email_Label").ToString(), new { @class = "control-label" })
                    @Html.TextBoxFor(x => x.Username, new { required = "required", type = "email", placeholder = Html.Loc("Email_Placeholder").ToString(), @class = "form-control" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.Password, @Html.Loc("Password_Label").ToString(), new { @class = "control-label" })
                    @Html.PasswordFor(x => x.Password, new { required = "required", placeholder = Html.Loc("Password_Placeholder").ToString(), @class = "form-control" })
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">@Html.Loc("LoginButton_Label")</button>
                </div>
            </form>

            <p>@Html.Loc("Credentials_Description2")</p>
            <p><a href="@Url.Action("Register", "Account", new { job = Model.JobId })" class="btn btn-default">@Html.Loc("CreateProfile_Link")</a></p>
            <p><a href="@Url.Action("RequestPasswordStep1", "Account", new { job = Model.JobId })" class="btn btn-default">@Html.Loc("ForgotPassword_Link")</a></p>
            <p>@Html.Loc("Credentials_Description3")</p>
        </div>

    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}


