@model ePunkt.Portal.Models.Account.RegisterViewModel

@Html.TranslatedValidationSummary("~/Views/Shared/PersonalInformation.cshtml")

<h1>@Html.Loc("Title")</h1>
<p>@Html.Loc("Description", Url.Action("Login", "Account", new { job = Model.JobId }))</p>

@using (Html.BeginForm("Register", "Account", new { job = Model.JobId }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>@Html.Loc("PersonalInformation")</legend>
        @Html.Partial("PersonalInformation")
    </fieldset>
 
    <fieldset>
        <legend>
            @Html.Loc("Documents")
        </legend>
        <div class="editor-row">
            @Html.LabelFor(x => x.Cv, @Html.Loc("Cv").ToString())
            <input type="file" name="cv" />
        </div>

        <div class="editor-row">
            @Html.LabelFor(x => x.Photo, @Html.Loc("Photo").ToString())
            <input type="file" name="photo" />
        </div>

        <div class="editor-row" id="documentsTemplateRow">
            @Html.LabelFor(x => x.DocumentTypes[0], @Html.Loc("Document").ToString())
            <input type="file" name="documents" />
            @Html.DropDownListFor(x => x.DocumentTypes[0], Model.AvailableDocumentTypes)
        </div>

        <div id="documentsRows"></div>

        <div class="editor-row">
            <a href="#documentsRows" id="addDocumentButton">@Html.Loc("MoreDocuments")</a>
        </div>

    </fieldset>
               
    <p>
        <input type="submit" value="@Html.Loc("Save")" />
    </p>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $("#addDocumentButton").click(function () {
                var templateHtml = $("#documentsTemplateRow").html();
                var documentsCount = $("#documentsRows .editor-row").length;

                templateHtml = templateHtml.replace(/_0_/g, "_" + (documentsCount + 1) + "_");
                templateHtml = templateHtml.replace(/[0]/g, (documentsCount + 1));
                
                $("#documentsRows").append("<div class=\"editor-row\">" + templateHtml + "</div>");

            });
        });
    </script>
}
