@model ePunkt.Portal.Models.Account.RequestPasswordStep1ViewModel
<div class="requestPasswordStep1Page">
    @Html.TranslatedValidationSummary()

    <h1>@Html.Loc("Title")</h1>
    <p>@Html.Loc("Description1")</p>

    <form method="POST" action="@Url.Action("RequestPasswordStep1")" role="form" class="form-horizontal">
        @Html.AntiForgeryToken()


        <div class="form-group">
            @Html.LabelFor(x => x.Email, Html.Loc("Email").ToString(), new { @class = "control-label col-xs-2" })
            @Html.TextBoxFor(x => x.Email, new { required = "required", type = "email", @class = "form-control" })
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">@Html.Loc("Submit")</button>
        </div>

        <p>@Html.Loc("Description2")</p>
    </form>
</div>
