<h1>@Html.Loc("Title")</h1>

<p>@Html.Loc("Description")</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table id="retreivePasswordTable">
        <tr>
            <td>@Html.Loc("Email")</td>
            <td>
                <input name="email" type="email" required="required" /></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="@Html.Loc("Submit")"/></td>
        </tr>
    </table>
}