@model ePunkt.Portal.Models.Account.RequestPasswordStep2ViewModel

@Html.TranslatedValidationSummary()

<h1>@Html.Loc("Title")</h1>

<p>@Html.Loc("Description")</p>

@using (Html.BeginForm("RequestPasswordStep2", "Account", new { code = Model.Code, email = Model.Email }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend></legend>
        <div class="editor-row">
            @Html.LabelFor(x => x.NewPassword, Html.Loc("NewPassword").ToString())
            @Html.PasswordFor(x => x.NewPassword, new { required = "required" })
        </div>
        <div class="editor-row">
            @Html.LabelFor(x => x.NewPassword2, Html.Loc("RepeatPassword").ToString())
            @Html.PasswordFor(x => x.NewPassword2, new { required = "required" })
        </div>
    </fieldset>
    <p>
        <input type="submit" value="@Html.Loc("Submit")"/>
    </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}