@Html.TranslatedValidationSummary()

<h1>@Html.Loc("Title")</h1>

<p>@Html.Loc("Description")</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table id="retreivePasswordTable">
        <tr>
            <td>@Html.Loc("NewPassword")</td>
            <td>
                <input name="password1" type="password" required="required" />
                @Html.ValidationMessage("password1")
            </td>
        </tr>
        <tr>
            <td>@Html.Loc("RepeatPassword")</td>
            <td>
                <input name="password2" type="password" required="required" />
                @Html.ValidationMessage("password2")
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="@Html.Loc("Submit")"/></td>
        </tr>
    </table>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}