@model ePunkt.Portal.Models.Account.RequestPasswordStep1ViewModel

@Html.TranslatedValidationSummary()

<h1>@Html.Loc("Title")</h1>

<p>@Html.Loc("Description")</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend></legend>
        <div class="editor-row">
            @Html.LabelFor(x => x.Email, Html.Loc("Email").ToString())
            @Html.TextBoxFor(x => x.Email, new { required = "required", type = "email" })
        </div>
    </fieldset>
    <p>
        <input type="submit" value="@Html.Loc("Submit")"/>
    </p>
}