@Html.ValidationSummary()

<h1>@Html.Loc("Title")</h1>

<p>@Html.Loc("Description")</p>

@using (Html.BeginForm())
{
    <table id="retreivePasswordTable">
        <tr>
            <td>@Html.Loc("NewPassword")</td>
            <td>
                <input name="password1" type="password" required="required" /></td>
        </tr>
        <tr>
            <td>@Html.Loc("RepeatPassword")</td>
            <td>
                <input name="password2" type="password" required="required" /></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="@Html.Loc("Submit")"/></td>
        </tr>
    </table>
}